<!DOCTYPE html>
<html>
    <head>


    </head>
    <style>

    </style>
    <body>

        <h1>client Video</h1>
        <video id="my_video" controls autoplay playsinline style="width: 500px; height : 500px;" ></video>

        <video id="client_video" class ="num1" controls autoplay playsinline></video>
       

    </body>
</html>