<!DOCTYPE html>
<html>
    <head>
        <title>HOST</title>
        
    </head>

    <body>
        <video id="local_video"  autoplay playsinline ></video>
        <video id="local_video"  autoplay playsinline ></video>
        <video id="local_video"  autoplay playsinline ></video>
        <video id="local_video"  autoplay playsinline ></video>
        <video id="local_video"  autoplay playsinline ></video>
        <video id="local_video"  autoplay playsinline ></video>
        <video id="local_video"  autoplay playsinline ></video>
        <video id="local_video"  autoplay playsinline ></video>
        <video id="local_video"  autoplay playsinline ></video>
        <video id="local_video"  autoplay playsinline ></video>
        <video id="local_video"  autoplay playsinline ></video>

        <video id="my_video" style="position: fixed; width: 400px; height: 300px; right: 0%; bottom: 0%" autoplay playsinline ></video>
        <script type="text/javascript">
            document.querySelector('#my_video').src = window.URL.createObjectURL( navigator.mediaDevices.getUserMedia({video : true, audio: true}))
        </script>
    </body>

    
</html>