<!DOCTYPE html>
<html>
    <head>
        <title>HOST <%= roomId %></title>
    </head>
    <script src="host.ejs"></script>
    <body>
        <video id="local_video" controls autoplay playsinline ></video>
        <video id="local_video" controls autoplay playsinline ></video>
        <video id="local_video" controls autoplay playsinline ></video>
        <video id="local_video" controls autoplay playsinline ></video>
        <video id="local_video" controls autoplay playsinline ></video>
        <video id="local_video" controls autoplay playsinline ></video>
        <video id="local_video" controls autoplay playsinline ></video>
        <video id="local_video" controls autoplay playsinline ></video>
        <video id="local_video" controls autoplay playsinline ></video>
        <video id="local_video" controls autoplay playsinline ></video>
        <video id="local_video" controls autoplay playsinline ></video>
        <video id="my_video" style="position: fixed; width: 400px; height: 300px; right: 0%; bottom: 0%" controls autoplay playsinline ></video>
    </body>
</html>