<!DOCTYPE html>
<html>
    <head>
        <title>HOST <%= roomId %></title>
    </head>
    <body>
        <video id="my_video" controls autoplay playsinline></video>
        <video id="local_video" controls autoplay playsinline ></video>
        <video id="local_video" controls autoplay playsinline ></video>
        <video id="local_video" controls autoplay playsinline ></video>
        <video id="local_video" controls autoplay playsinline ></video>
        <video id="local_video" controls autoplay playsinline ></video>
        <video id="local_video" controls autoplay playsinline ></video>
        <video id="local_video" controls autoplay playsinline ></video>
        <video id="local_video" controls autoplay playsinline ></video>
        <video id="local_video" controls autoplay playsinline ></video>
        <video id="local_video" controls autoplay playsinline ></video>
        <video id="local_video" controls autoplay playsinline ></video>

        <!-- <video id="my_video" style="position: fixed; width: 400px; height: 300px; right: 70%; bottom: 70%" controls autoplay playsinline ></video> -->
        <div class="screen_share">
            <video id="my_video" controls autoplay playsinline></video>
        </div>
    </body>
</html>