<!DOCTYPE html>
<html>
    <head>
    </head>
    <script>
        stream = await navigator.mediaDevices.getUserMedia({ video: true , audio: true});
        document.querySelector('#my_video').srcObject = await stream;
        var clientStream = <%= stream %>
    </script>
    
    <body>
        <video id="local_video" controls autoplay playsinline ></video>
        <video id="local_video" controls autoplay playsinline ></video>
        <video id="local_video" controls autoplay playsinline ></video>
        <video id="local_video" controls autoplay playsinline ></video>
        <video id="local_video" controls autoplay playsinline ></video>
        <video id="local_video" controls autoplay playsinline ></video>
        <video id="local_video" controls autoplay playsinline ></video>
        <video id="local_video" controls autoplay playsinline ></video>
        <video id="local_video" controls autoplay playsinline ></video>
        <video id="local_video" controls autoplay playsinline ></video>
        <video id="local_video" controls autoplay playsinline ></video>
         
        <video id="my_video" style="position: fixed; width: 400px; height: 300px; right: 0%; bottom: 0%" controls autoplay playsinline ></video>
    </body>
</html>