<!DOCTYPE html>
<html>
    <head>
        <title>HOST</title>
    </head>

    <body>
        <video id="local_video"  autoplay playsinline style="background-color: beige;"></video>
        <video id="local_video"  autoplay playsinline style="background-color: beige;"></video>
        <video id="local_video"  autoplay playsinline style="background-color: beige;"></video>
        <video id="local_video"  autoplay playsinline style="background-color: beige;"></video>
        <video id="local_video"  autoplay playsinline style="background-color: beige;"></video>
        <video id="local_video"  autoplay playsinline style="background-color: beige;"></video>
        <video id="local_video"  autoplay playsinline style="background-color: beige;"></video>
        <video id="local_video"  autoplay playsinline style="background-color: beige;"></video>
        <video id="local_video"  autoplay playsinline style="background-color: beige;"></video>
        <video id="local_video"  autoplay playsinline style="background-color: beige;"></video>
        <video id="local_video"  autoplay playsinline style="background-color: beige;"></video>
        
        
        <form action='/host' method='POST' enctype='multipart/form-data' name='stream_data'>
            <video id="my_video" name='myVideo' style="position: fixed; width: 400px; height: 300px; right: 0%; bottom: 0%" autoplay playsinline ></video>
            <div id=<%= rid %> class='roomId'></div>
            <div id=<%= pid %> class='prodId'></div>
        </form>
        <button id="btn_webcam">GO</button>
        <script src="app-bundle.js"></script>
        <script type="text/javascript">

            navigator.mediaDevices.getUserMedia({video : true, audio: true}).then(function(stream){
                connect();
                document.querySelector('#my_video').srcObject = stream
            })
        </script>
    </body>
</html>