<!DOCTYPE html>
<html>

<head>
    <title>index</title>
</head>

<body>
    <!-- <video id="host_video" controls autoplay playsinline src=<%= stream %>></video> -->
    <video id="host_video" style="position: fixed; width: 1000px; height: 800px; right: 50%; bottom: 50%" controls autoplay playsinline ></video>
    <video id="my_video" style="position: fixed; width: 300px; height: 200px; right: 10%; bottom: 80%"controls autoplay playsinline></video>
</body>

</html>